.signature{
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 3%;
    left: 2%;
    position: fixed;
    gap: 3px;
}

.signature-content{
    display: flex;
    gap: 5px;
    align-items: center;
}

.signature--title{
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.signature--img{
    max-height: 60px;
}

.signature--social-content{
    display: flex;
    gap: 8px;
}

.signature--social-media{
    text-decoration: none;
}

.signature--social-media-icon{
    color: white;
    width: 20px;
    height: 20px;
}

@media (min-width: 0px) and (max-width: 944px){
    .signature {
        left: 50%;
        transform: translateX(-50%);
    }
}