.container-redirection-buttons{
    display: flex;
    justify-content: center;
    height: 100%;
}

.container-redirection-buttons--buttons{
    display: flex;
    align-items: center;
    gap: 42px;
}

@media (min-width: 0px) and (max-width: 944px){

    .container-redirection-buttons{
        height: -webkit-fill-available;
    }

    .container-redirection-buttons--buttons{
        gap: 0px;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 55px;
    }
}