.container-redirection-buttons{
    display: flex;
    justify-content: center;
    height: 100%;
}

.container-redirection-buttons--buttons{
    display: flex;
    align-items: center;
    gap: 42px;
}

.back-button{
    position: absolute;
    top: 3%;
    left: 2%;
}

.back-button--icon{
    width: 36px;
    height: 36px;
    color: white;
}